$td-blue: #77b5fe;
$td-blue-dark: #0050a6;
$td-green: #647D11;
$td-yellow: #e9bd15;
$td-gray-61: rgb(240 240 241 / 61%);
$td-gray-footer: #393844;
$td-black-43: rgb(0 0 0 / 43%);
$td-black-80: rgb(0 0 0 / 80%);
$td-black-30: rgb(0 0 0 / 30%);
$td-white-15: rgb(255 253 253 / 15%);
$td-white-45: rgb(255 253 253 / 45%);
