@font-face {
  font-family: 'Montserrat';
  src: url(~/assets/fonts/montserrat-v14-latin-regular.ttf) format("truetype"),
  url(~/assets/fonts/montserrat-v14-latin-regular.eot) format("eot"),
  url(~/assets/fonts/montserrat-v14-latin-regular.woff) format("woff");
}

html, body {
  font-family: 'Montserrat', sans-serif;

  img {
    max-width: 100%;
  }
}
